#section-title {
    margin-bottom: 50px;
}

/* Jumbotron
================================= */

.jumbotron {
    padding-top: 110px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image:
        linear-gradient(rgba(60, 110, 210, 0.75), rgba(60, 110, 210, 0.75)),
        url('https://source.unsplash.com/featured/800x450/?nature,water');
    background-color: #2D5699;
}

@media (min-width: 1200px) {
    /* parallax effect */
    .jumbotron {
        background-attachment: fixed;
    }
}

.jumbotron h1, .jumbotron h3, .jumbotron h4, .jumbotron p{
    color: #fff;
}

.jumbotron h1 {
    font-family: "open-sans",sans-serif;
    font-weight: lighter;
    margin-top: 10px;
    margin-bottom: 35px;
}

.jumbotron h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: normal;
    line-height: 1.6;
}

#profile-pic {
    border-style: solid;
    border-width: medium;
    border-color: #fff;
}

.jumbotron .glyphicon {
    font-size: 0.9em;
    display: inline;
    color: inherit;
}

.app-icon {
    margin-bottom: 10px;
    transition-duration: 0.25s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.app-icon:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.app-icon:active {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
}
