/* Icon Forward */
.hvr-icon-forward {
    -moz-osx-font-smoothing: grayscale;
    box-shadow: none;
    position: relative;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

.hvr-icon-forward:hover {
    /*disable underline when using the forward icon*/
    text-decoration: none;
}

.hvr-icon-forward:after {
    content: "\f105";
    position: absolute;
    right: -0.8em;
    font-family: FontAwesome;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-icon-forward:hover:after, .hvr-icon-forward:focus:after, .hvr-icon-forward:active:after {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
}


/* Icon Down */
@-webkit-keyframes hvr-icon-down {
    0%,
    50%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    25%,
    75% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@keyframes hvr-icon-down {
    0%,
    50%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    25%,
    75% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
}

.hvr-icon-down {
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}

.hvr-icon-down:hover {
    /*disable underline when using the forward icon*/
    text-decoration: none;
}

.hvr-icon-down:after {
    content: "\f107";
    position: absolute;
    right: -1.0em;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.hvr-icon-down:hover:after, .hvr-icon-down:focus:after, .hvr-icon-down:active:after {
    -webkit-animation-name: hvr-icon-down;
    animation-name: hvr-icon-down;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}
